{% extends "main.html" %}
{% block content %}
<h1>Responses</h1>
<table class="table">
  <tr>
    <th>Start</th>
    <th>Room</th>
    <th>Subject</th>
    <th>Attendees</th>
  </tr>

  {% if not events %}
  <tr><td>No meetings</td><td></td><td></td><td></td></tr>
  {% endif %}
  
  {% for event in events %}
    <tr>
      <td>{{ event.start_time_text }}</td>
      <td>{{ event.room }}</td>
      <td>{{ event.subject }}</td>
      <td>
{% for attendee in event.responses %}
{% if attendee.is_organizer %}
        <div class="text-white bg-info">{{ attendee.email }} (organizer)</div>
{% elif attendee.has_accepted %}
        <div class="text-white bg-success">{{ attendee.email }} (accepted)</div>
{% elif attendee.has_declined %}
        <div class="text-white bg-danger">{{ attendee.email }} (declined)</div>
{% elif attendee.has_tentative %}
        <div class="text-white bg-secondary">{{ attendee.email }} (tentative)</div>
{% elif attendee.no_response %}
        <div class="text-white bg-warning">{{ attendee.email }}</div>
{% endif %}
{% endfor %}
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}